In [31]:
# coding: utf-8
#
# This is the data pre-processing capability for the Analytic Model
# it creates a number of global dataframes that can be imported into
# another Python module in the form:
#
# import provider_list from model_prep
# import provider_supply from model_prep
#
# The data frames are 'clean' in the sense that they have extraneous columns
# and rows removed.
#
#
# Originally developed in Jupyter Notebook, it is converted to standard Python via :
#  jupyter nbconvert --to script Model_Preparation-Component.ipynb --output model_prep
#

import pandas as pd
import json
import sys
import os
import re

#directory = os.path.abspath(os.path.dirname(os.path.realpath(__file__)) + "/../data/data_input_component_csv/")
directory = "../data/data_input_component_csv/"

In [32]:
frames = {}

In [33]:
file_list = []

In [34]:
for f in os.listdir(directory):
    if f.endswith(".csv"):
        file_list.append(f)
file_list

['pop_chronic_trend.csv',
 'service_list.csv',
 'pop_chronic_prev.csv',
 'chron_care_freq.csv',
 'geo_area_list.csv',
 'service_characteristics.csv',
 'frontsheet.csv',
 'population.csv',
 'provider_supply.csv',
 'pop_prev_need.csv',
 'provider_list.csv',
 'encounter_detail.csv',
 'metadata.csv',
 'overhead_work.csv',
 'encounter_types.csv',
 'pop_acute_ need.csv']

In [42]:
for f in file_list:
    frames[re.sub(r"\.csv$", "", f)] = pd.read_csv(directory + f)

frames['pop_chronic_trend'][frames['pop_chronic_trend'].columns[0]] == '<<end>>'

SyntaxError: invalid syntax (<ipython-input-42-1565ce206af2>, line 4)

In [9]:
# Next we import the relevant sheets from the Data Input Component (to begin with only three)
try:
    provider_list = pd.read_csv(directory + "/provider_list.csv")
    provider_supply = pd.read_csv(directory + "/provider_supply.csv")
    acute_service_prov_priority = pd.read_csv(directory + "/acute_service_prov_priority.csv")
    geo_area_list = pd.read_csv(directory + "/geo_area_list.csv")
    population = pd.read_csv(directory + "/population.csv")
except Exception as e:
    respond(None,command,provider_type, "ERROR: Could not read input files."+str(e))

In [ ]:
chron_care_freq.csv
encounter_detail.csv
encounter_types.csv
frontsheet.csv
geo_area_list.csv
metadata.csv
overhead_work.csv
pop_acute_ need.csv
pop_chronic_prev.csv
pop_chronic_trend.csv
pop_prev_need.csv
population.csv
provider_list.csv
provider_supply.csv
service_characteristics.csv
service_list.csv

In [10]:
provider_list

                        provider_name provider_abbr provider_mean_wage
0                           Physician          Phys       $177,958.00
1                 Physicial Assistant            PA       $105,690.00
2                  Nurse Practitioner            NP        $95,994.00
3                    Registered Nurse            RN        $57,595.00
4                        Psychiatrist         Psych       $204,194.00
5     Licensed Clinical Social Worker          LCSW        $62,000.00
6   Certified Mental Health Counselor          CMHC        $52,500.00
7      Marriage and Family Therapists           MFT        $55,590.00
8                  Doctor of Pharmacy        PharmD       $125,000.00
9                   Medical Assistant            MA        $32,500.00
10                           Educator          Educ        $55,652.00
11                                NaN           NaN                NaN
12                                NaN           NaN                NaN
13                                NaN           NaN                NaN
14                                NaN           NaN                NaN
15                                NaN           NaN                NaN
16                                NaN           NaN                NaN
17                                NaN           NaN                NaN
18                                NaN           NaN                NaN
19                                NaN           NaN                NaN
20                                NaN           NaN                NaN
21                                NaN           NaN                NaN
22                                NaN           NaN                NaN
23                                NaN           NaN                NaN
24                                NaN           NaN                NaN
25                                NaN           NaN                NaN
26                                NaN           NaN                NaN
27                                NaN           NaN                NaN
28                                NaN           NaN                NaN
29                                NaN           NaN                NaN
30                                NaN           NaN                NaN
31                                NaN           NaN                NaN
32                                NaN           NaN                NaN
33                                NaN           NaN                NaN
34                                NaN           NaN                NaN
35                                NaN           NaN                NaN
36                                NaN           NaN                NaN
37                                NaN           NaN                NaN
38                                NaN           NaN                NaN
39                                NaN           NaN                NaN
40                                NaN           NaN                NaN
41                                NaN           NaN                NaN
42                                NaN           NaN                NaN
43                                NaN           NaN                NaN
44                                NaN           NaN                NaN
45                                NaN           NaN                NaN
46                                NaN           NaN                NaN
47                                NaN           NaN                NaN
48                                NaN           NaN                NaN

In [7]:
provider_list = provider_list.loc[provider_list['provider_abbr'].notnull()]
provider_list

                        provider_name provider_abbr provider_mean_wage
0                           Physician          Phys       $177,958.00
1                 Physicial Assistant            PA       $105,690.00
2                  Nurse Practitioner            NP        $95,994.00
3                    Registered Nurse            RN        $57,595.00
4                        Psychiatrist         Psych       $204,194.00
5     Licensed Clinical Social Worker          LCSW        $62,000.00
6   Certified Mental Health Counselor          CMHC        $52,500.00
7      Marriage and Family Therapists           MFT        $55,590.00
8                  Doctor of Pharmacy        PharmD       $125,000.00
9                   Medical Assistant            MA        $32,500.00
10                           Educator          Educ        $55,652.00